.container {
  width: 100%;
  display: flex;
}

.logo {
  width: auto;
  height: 5rem;
}

.button_slide {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #7510f7;
  color: #7510f7;
}
.button_slide:hover {
  color: #fff;
}
.button_slide:hover:after {
  width: 100%;
}
.button_slide:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #7510f7;
}

.nav_btns {
  margin-right: 10px;
  margin-left: auto;
  margin-block: auto;
}

@media (min-width: 640px) {
  .logo {
    margin-left: 10vw;
  }
  .nav_btns {
    margin-right: 10vw;
  }
}

@media (min-width: 768px) {
  .logo {
    margin-left: 10vw;
  }
  .nav_btns {
    margin-right: 10vw;
  }
}

@media (min-width: 1024px) {
  .logo {
    margin-left: 15vw;
  }
  .nav_btns {
    margin-right: 15vw;
  }
}

@media (min-width: 1280px) {
}
