.title {
  font-size: 2rem;
  font-weight: 500;
  color: #353535;
  text-align: center;
  margin-block: 3rem;
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
  .title {
    font-size: 3rem;
    font-weight: 500;
    color: #353535;
    text-align: center;
    margin-block: 6rem;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
